common --registry=https://raw.githubusercontent.com/eclipse-score/bazel_registry/main/
common --registry=https://bcr.bazel.build

test --test_output=errors

build:qemu-integration --run_under=//scripts:run_under_qemu
