common --registry=https://raw.githubusercontent.com/eclipse-score/bazel_registry/main/
common --registry=https://bcr.bazel.build

test --test_output=errors

build:qemu-integration --run_under=//scripts:run_under_qemu

build:x86_64-qnx --incompatible_strict_action_env
build:x86_64-qnx --platforms=@score_bazel_platforms//:x86_64-qnx8_0
build:x86_64-qnx --sandbox_writable_path=/var/tmp
